$white: hsl(0, 0%, 100%);
$red: hsl(7, 99%, 70%);
$yellow:hsl(51, 100%, 49%);

$graphicDisText: hsl(167, 40%, 24%);
$photofraphyText: hsl(198, 62%, 26%);
$footerBg: hsl(167, 44%, 70%);

$headingDark: hsl(212, 27%, 19%);
$headingLight: hsl(232, 10%, 55%);
$paragrphText: hsl(213, 9%, 39%);
$textLight: hsl(210, 4%, 67%);